In [7]:
import pandas as pd

Lendo a CSV e removendo todos os dados com valores de Tp_est iguais a zero

In [8]:
raw_data = pd.read_csv('data.csv')
raw_data.drop(raw_data[raw_data['Tp_est'] == 0.0].index, inplace=True);

Separando o raw data entre treinamento e teste antes do tratamento da base

In [9]:
raw_train_test_group = raw_data.groupby(raw_data['time'].str.contains('2022'))

raw_train = raw_train_test_group.get_group(False)
raw_test = raw_train_test_group.get_group(True);

In [10]:
raw_test

,Unnamed: 0,azimuth,range,time,elevation,sweep,UH,UV,DBZH,DBZV,...,y,z,lat,lon,alt,Est,Tp_est,latitude,longitude,distancia
2463764,2463764,125,173500,2022-01-01 00:45:00,0.5,0,NaN,NaN,NaN,NaN,...,-99480.17,3284.90,-25.757921,-52.110660,3404.895711,Derivacao_do_Rio_Jordao,3.2,-25.76,-52.11,185
2463772,2463772,125,173500,2022-01-01 01:00:00,0.5,0,NaN,NaN,NaN,NaN,...,-99480.17,3284.90,-25.757921,-52.110660,3404.895711,Derivacao_do_Rio_Jordao,0.2,-25.76,-52.11,185
2465620,2465620,149,121500,2022-01-03 11:30:00,0.5,0,5.42,5.78,1.70,2.87,...,-104121.77,1928.94,-25.805085,-52.904342,2048.943578,Bela_Vista_Jusante,0.2,-25.81,-52.91,124
2465627,2465627,147,164500,2022-01-03 11:45:00,0.5,0,25.41,25.96,24.72,25.20,...,-137915.52,3027.71,-26.107613,-52.632358,3147.712358,Pato_Branco,0.2,-26.12,-52.65,168
2465661,2465661,176,73500,2022-01-03 12:45:00,0.5,0,16.32,16.41,15.78,15.87,...,-73310.80,959.20,-25.529292,-53.478188,1079.201517,Reservatorio_Salto_Caxias,0.2,-25.53,-53.48,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2854605,2854605,126,174750,2022-12-20 21:15:00,0.5,0,NaN,NaN,NaN,NaN,...,-102678.65,3321.47,-25.786753,-52.117784,3441.465115,Segredo,2.8,-25.79,-52.12,185
2854624,2854624,126,174750,2022-12-20 21:30:00,0.5,0,NaN,NaN,NaN,NaN,...,-102678.65,3321.47,-25.786753,-52.117784,3441.465115,Segredo,0.2,-25.79,-52.12,185
2854643,2854643,126,174750,2022-12-20 21:45:00,0.5,0,NaN,NaN,NaN,NaN,...,-102678.65,3321.47,-25.786753,-52.117784,3441.465115,Segredo,0.2,-25.79,-52.12,185
2854657,2854657,15,73750,2022-12-20 22:00:00,0.5,0,NaN,NaN,NaN,NaN,...,71227.13,963.36,-24.229322,-53.341064,1083.357738,Porto_Formosa,0.2,-24.23,-53.33,74
2854901,2854901,343,116750,2022-12-21 01:00:00,0.5,0,3.59,9.93,NaN,NaN,...,111623.92,1820.86,-23.865769,-53.864867,1940.859153,Altonia,0.4,-23.86,-53.85,117