In [80]:
import pandas as pd
import matplotlib.pyplot as plt

Lendo a CSV e removendo todos os dados com valores de Tp_est iguais a zero

In [36]:
raw_data = pd.read_csv('data.csv')
raw_data.drop(raw_data[raw_data['Tp_est'] == 0.0].index, inplace=True);

Remoção inicial de colunas:
- Unnamed: 0: Coluna de ids
- latitude e longitude: Repitidas;
- distancia, elevation e sweep: sem valor agregado.

Obs: Para verificar que as colunas elevation e sweep não possuiam valor agregado, foi utilizado a função describe do pandas. Com esta função, foi possível verificar que ambas possuiam média, minimo e maximo identicos, além de um desvio padrão igual a 0, ou seja, todas as linhas possuiam o mesmo valor.

In [37]:
# print(raw_data.describe()['elevation'])
# print(raw_data.describe()['sweep'])

raw_data.drop(['Unnamed: 0', 'latitude', 'longitude', 'distancia', 'elevation','sweep'], axis=1, inplace=True)

Separando o raw data entre treinamento e teste. Anos de 2018 a 2021 para treinamento e 2022 para teste.

In [39]:
raw_train_test_group = raw_data.groupby(raw_data['time'].str.contains('2022'))

raw_train = raw_train_test_group.get_group(False)
raw_test = raw_train_test_group.get_group(True);

To-Do: Clusterizar por estações mais proximas

To-Do: Remover: Remover colunas de localizaçao da estação

In [79]:
grouped_by_est = raw_train.groupby(['Est'])

est_info = pd.DataFrame(columns=['est','x', 'y', 'z', 'lat', 'lon','alt'])
for est in grouped_by_est.groups.keys():
    group = grouped_by_est.get_group(est)
    est_list = [est, group['x'].mean(), group['y'].mean(), group['z'].mean(), group['lat'].mean(), group['lon'].mean(), group['alt'].mean()]
    est_info = pd.concat([pd.DataFrame([est_list], columns=est_info.columns), est_info], ignore_index=True)

est_info

,est,x,y,z,lat,lon,alt
0,Umuarama,22383.961134,124470.779496,2071.172353,-23.750447,-53.309361,2191.169162
1,Ubirata,56153.617293,36070.192204,862.330991,-24.544587,-52.974110,982.328623
2,Toledo,-19122.395743,9824.184223,218.926605,-24.781529,-53.718692,338.926644
3,Solais_Novo,162666.227172,-133050.599562,4493.361984,-26.057680,-51.900935,4613.363374
4,Segredo,140821.460255,-103362.534568,3367.909753,-25.792948,-52.122740,3487.907355
5,Santa_Helena,-78470.237984,-6477.107213,1073.211271,-24.926233,-54.307468,1193.212169
6,Salto_Caxias,4692.561974,-72086.420587,956.613942,-25.518281,-53.482515,1076.615479
7,Reservatorio_Salto_Caxias,4886.627760,-73326.154920,973.412000,-25.529430,-53.480577,1093.413001
8,Porto_Santo_Antonio,43582.902125,-56352.126047,939.434091,-25.376159,-53.095475,1059.436326
9,Porto_Formosa,19437.762127,71130.499487,983.670405,-24.230186,-53.337585,1103.669320
10,Pato_Branco,89112.539537,-138204.149074,3059.152185,-26.110235,-52.636852,3179.153749
11,Paranavai,110856.323234,197666.431877,5065.428456,-23.088465,-52.445676,5185.429784
12,Palotina,-38207.174926,61602.567155,956.328153,-24.315523,-53.906325,1076.330137
13,Loanda,39319.436180,216597.888080,4837.706061,-22.921601,-53.145427,4957.706643
14,Laranjeiras_do_Sul,112265.003272,-62963.066375,2134.367593,-25.432069,-52.411322,2254.368687
15,Guaira,-73936.490144,88698.528152,1814.676879,-24.070555,-54.257510,1934.673871
16,Foz_do_Iguacu_-_Itaipu,-104812.258584,-64786.447568,2002.430898,-25.449001,-54.573159,2122.429604
17,Derivacao_do_Rio_Jordao,141745.263807,-99940.895574,3318.294353,-25.762095,-52.113877,3438.291510
18,Coronel_Domingos_Soares,154599.954116,-131030.174390,4243.323207,-26.040370,-51.981910,4363.322954
19,Cascavel,-1973.076554,-1081.163192,20.508118,-24.879722,-53.548836,140.510084
20,Campo_Mourao,114478.857905,88512.669397,2536.649120,-24.069768,-52.401724,2656.649492
21,Boa_Vista_da_Aparecida,17606.380089,-72120.449080,991.783995,-25.518492,-53.353826,1111.785845
22,Bela_Vista_Jusante,62214.297058,-104328.164570,1952.824601,-25.806955,-52.907812,2072.826941
23,Baixo_Iguacu,-14229.509887,-71333.451613,965.454068,-25.511451,-53.671068,1085.453715
24,Assis_Chateaubriand,-1599.357905,53219.513406,645.811499,-24.391384,-53.545069,765.811559
25,Altonia,-33569.109624,111790.750465,1853.044091,-23.864279,-53.859377,1973.043684
26,Aguas_do_Vere,59624.188540,-100344.497807,1852.288362,-25.771234,-52.933862,1972.287951

To-do: Separar em deta set so com valores para fazer o vizinho mais proximo

In [55]:
only_full_data = raw_train.dropna()

only_full_data

,azimuth,range,time,UH,UV,DBZH,DBZV,KDP,ZDR,RHOHV,x,y,z,lat,lon,alt,Est,Tp_est
2,29,226750,2018-01-09 12:30:00,6.00,5.17,4.74,3.38,1.84,1.33,0.68,109874.72,198219.24,5003.38,-23.083564,-52.455313,5123.382761,Paranavai,0.2
59,29,226750,2018-01-09 14:00:00,5.32,5.60,2.11,1.82,0.25,0.22,0.73,109874.72,198219.24,5003.38,-23.083564,-52.455313,5123.382761,Paranavai,0.2
133,10,220250,2018-01-09 16:00:00,7.77,5.71,6.89,5.44,-0.50,2.56,0.73,38227.34,216798.04,4775.95,-22.919829,-53.156094,4895.951230,Loanda,0.4
135,29,226750,2018-01-09 16:00:00,13.48,13.89,12.33,12.88,-0.09,0.09,0.90,109874.72,198219.24,5003.38,-23.083564,-52.455313,5123.382761,Paranavai,0.2
152,10,220250,2018-01-09 16:30:00,1.98,2.21,-1.08,-1.17,-0.15,0.26,0.66,38227.34,216798.04,4775.95,-22.919829,-53.156094,4895.951230,Loanda,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461440,10,220250,2021-08-29 01:30:00,19.37,20.27,19.29,20.15,0.12,-0.40,0.91,38227.34,216798.04,4775.95,-22.919829,-53.156094,4895.951230,Loanda,0.2
2461459,10,220250,2021-08-29 02:00:00,15.37,15.88,14.56,15.05,-0.19,-0.01,0.90,38227.34,216798.04,4775.95,-22.919829,-53.156094,4895.951230,Loanda,0.8
2461478,10,220250,2021-08-29 02:30:00,10.58,9.15,9.46,8.64,0.32,1.92,0.65,38227.34,216798.04,4775.95,-22.919829,-53.156094,4895.951230,Loanda,1.2
2461497,10,220250,2021-08-29 03:00:00,10.98,12.63,9.30,9.96,0.09,-1.15,0.68,38227.34,216798.04,4775.95,-22.919829,-53.156094,4895.951230,Loanda,0.4
2461499,29,226750,2021-08-29 03:00:00,10.86,11.35,9.19,9.97,0.65,0.01,0.72,109874.72,198219.24,5003.38,-23.083564,-52.455313,5123.382761,Paranavai,0.6